.successOrderContentTitle{
    font-size: 40px;
    font-weight: bold;
    margin-top: 400px;
}
.successOrderContentButton{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #0e0d0d;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .successOrderContentTitle{
        font-size: 30px;}
    .successOrderContentButton{
        width: 120px;
        height: 35px;
        font-size: 16px;
        margin-top: 15px;
    }
}

@media (max-width: 900px) {
    .successOrderContentTitle{
        font-size: 20px;
    }
    .successOrderContentButton{
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .successOrderContentTitle {
        font-size: 15px;
    }

    .successOrderContentButton {
        width: 80px;
        height: 25px;
        font-size: 8px;
    }
}

@media (max-width: 470px) {
    .successOrderContentTitle{
        font-size: 13px;
    }
    .successOrderContentButton{
        width: 60px;
        height: 20px;
        font-size: 5px;
    }
}

@media (max-height: 860px) {
    .successOrderContentTitle{
        margin-top: 200px;
    }
}
@media (max-height: 500px) {
    .successOrderContentTitle{
        margin-top: 100px;
    }
}